/* line 1, /home/patrick/projects/jezz/source/stylesheets/application.scss */
body {
  text-align: center;
  padding: 0;
  margin: 0; }

/* line 8, /home/patrick/projects/jezz/source/stylesheets/application.scss */
#menu a {
  margin: 0 8px; }

/* line 15, /home/patrick/projects/jezz/source/stylesheets/application.scss */
#index_page #hint_links a {
  margin: 0 8px; }
/* line 21, /home/patrick/projects/jezz/source/stylesheets/application.scss */
#index_page #images a {
  margin: 10px; }

/* line 27, /home/patrick/projects/jezz/source/stylesheets/application.scss */
#carousel_page #header {
  height: 30%; }
/* line 31, /home/patrick/projects/jezz/source/stylesheets/application.scss */
#carousel_page #rest {
  height: 70%; }
  /* line 35, /home/patrick/projects/jezz/source/stylesheets/application.scss */
  #carousel_page #rest #img_container img {
    max-height: 400px; }
